name: Tag & Release

on:
  workflow_dispatch:
    inputs:
      package:
        type: choice
        description: 'If not specified, all packages will be released.'
        options:
          - ""
          - foxglove_bridge

jobs:
  setup:
    runs-on: ubuntu-latest
    outputs:
      distros: ${{ steps.set-distros.outputs.distros }}
    steps:
      - id: set-distros
        run: |
          case "${{ github.ref_name }}" in
            jazzy)
              distros=("jazzy")
              ;;
            main)
              distros=("kilted")
              ;;
            *)
              echo "::error::Unsupported branch '${{ github.ref_name }}'. Releases can only be made from 'main' (kilted) or 'jazzy' branches."
              exit 1
              ;;
          esac

          echo "distros=$(jq -cn '$ARGS.positional' --args "${distros[@]}")" >> $GITHUB_OUTPUT

  build:
    needs: setup
    strategy:
      fail-fast: true
      matrix:
        ros_distro: ${{ fromJson(needs.setup.outputs.distros) }}
        job:
          - runner: 2vcpu-ubuntu-2404
            arch: amd64
          - runner: 4vcpu-ubuntu-2404-arm
            arch: arm64

    name: Build - ${{ matrix.job.arch }} - ${{ matrix.ros_distro }}
    runs-on: ${{ matrix.job.runner }}

    steps:
      - name: Checkout this repository
        uses: actions/checkout@v4

      - name: Semantic release - Build
        uses: Greenroom-Robotics/ros_semantic_release_action@main
        with:
          token: ${{ secrets.API_TOKEN_GITHUB }}
          package: ${{ github.event.inputs.package }}
          arch: ${{ matrix.job.arch }}
          ros_distro: ${{ matrix.ros_distro }}
          github_release: false
          public: true
          changelog: false
          skip_build: false
          skip_tag: true
          release_branches: main,jazzy

  release:
    name: Create Release
    runs-on: buildjet-2vcpu-ubuntu-2204
    needs:
      - build

    steps:
      - name: Checkout this repository
        uses: actions/checkout@v4

      - name: Release
        uses: Greenroom-Robotics/ros_semantic_release_action@main
        with:
          token: ${{ secrets.API_TOKEN_GITHUB }}
          package: ${{ github.event.inputs.package }}
          github_release: true
          public: true
          changelog: false
          skip_build: true
          skip_tag: false
          release_branches: main,jazzy
