name: Tag & Release

on:
  workflow_dispatch:
    inputs:
      package:
        type: choice
        description: 'If not specified, all packages will be released.'
        options:
          - ""
          - foxglove_bridge

jobs:
  release:
    uses: Greenroom-Robotics/ros_semantic_release_action/.github/workflows/release.yml@main
    with:
      package: ${{ github.event.inputs.package }}
      public: true
    secrets:
      token: ${{ secrets.API_TOKEN_GITHUB }}
